@font-face {
  font-family: "Poppins";
  src: url(./font/Poppins-Regular.ttf);
  font-display: swap;
  font-weight: 500;
}

:root {
  --mint: #00ff8c;
  --green: #235941;
  --dark-green: #123324;
  --white: #f0f0f8;
  --accent: #ffbf49;
  --mint-card: #ddfef8;
  --russian: #23194f;
  --neon: #b8fb3c;
  --dark-ocean: #03045e;

}

* {
  box-sizing: border-box;
  color: var(--white);
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  background-color: var(--green);
}

.title-section {
  font-size: 4rem;
  text-align: center;
  padding-block: 80px 20px;
  width: 100vw;
  /* top: 0; */
  position: relative;
  color: white;
  font-weight: bold;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.content {
  position: relative;
  height: calc(100% - 196px);
  display: flex;
  transition: all 0.5s ease-out;
}

.content>* {
  width: 50vw;
  height: 100%;
  cursor: pointer;
  left: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.content>*:hover {
  width: 70vw;
}

.content>*:hover .serviceDescriptionWrapper {
  opacity: 1;
}

.content:has(.blokd:hover) .mintson,
.content:has(.mintson:hover) .blokd {
  width: 30vw;
}

.content:has(.blokd:hover) .mintson .serviceWrapper,
.content:has(.mintson:hover) .blokd .serviceWrapper {
  background-color: var(--dark-green);
}

.serviceWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  left: 0;
  background-color: var(--green);
  transition: all 0.5s ease;
}

.serviceIdentity {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serviceLogo img {
  width: 200px;
}

.serviceName {
  font-weight: bold;
  font-size: 3rem;
}

.serviceContent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mintson .serviceContent {
  background-color: var(--mint-card);
}

.mintson  .serviceProfile *, .mintson  .profileTitle {
  color: var(--dark-ocean);
}
.mintson  .back {
  border: 1px solid rgba(3, 4, 94, 0.3);
}
.mintson  .back:hover {
  background-color: rgba(3, 4, 94, 0.3);
}

.blokd .serviceContent {
  background-color: var(--neon);
}

.blokd  .serviceProfile *, .blokd  .profileTitle {
  color: var(--russian);
}
.blokd  .back {
  border: 1px solid rgba(35, 25, 79, 0.3);
}
.blokd  .back:hover {
  background-color: rgba(35, 25, 79, 0.3);
}

.serviceProfile {
  padding: 2rem;
  padding-top: calc(60px + 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileTopWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileIdentity {
  display: flex;
  gap: 2rem;
  font-weight: bold;
  color: var(--white);
  align-items: center;
}

.profileLogo img {
  height: 80px;
}

.profileName {
  font-size: 4rem;
  margin-block: -1rem -0.5rem;
}

.profileDescription {
  font-size: 1.5rem;
}

.back {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: fit-content;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}

.back:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.profileSectionWrapper {
  display: flex;
  width: 100vw;
  overflow: hidden;
}

.profileSection {
  display: flex;
  margin-block: 2rem;
  padding-inline: 4rem;
  align-items: center;
  gap: 3rem;
  min-width: 100vw;
  width: 100vw;
  height: 400px;
  justify-content: center;
}

.profileProto {
  /* min-width: 30%; */
}

.profileTitle {
  font-size: 3rem;
  font-weight: bold;
}


@media (max-width: 850px) {
  .container {
    height: 100dvh;
  }

  .content {
    flex-direction: column;
  }

  .content>*:hover .serviceWrapper::before {
    height: 100%;
  }

  .content>*:nth-child(1):hover .serviceWrapper::before {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .content>*:nth-child(2):hover .serviceWrapper::before {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .serviceIdentity {
    align-items: center;
    flex-direction: row;
    gap: 2rem;
  }

  .serviceLogo img {
    width: 100px;
  }

}




.create-card {
  display: flex;
  flex-direction: column;
  border: 12px double var(--mint-card);
  background: var(--russian);
  color: var(--mint-card);
}

.create-card * {
  font-size: 1rem;
}

.create-card .card-header {
  border-bottom: 4px solid var(--mint-card);
}

.create-card .card-header h2 {
  margin: 0 16px;
  padding: 0 8px;
  border-inline: 4px solid var(--mint-card);
  font-size: 1rem;
  font-weight: bold;
}

.create-card .header-content {
  display: flex;
  justify-content: space-between;
}

.create-card .title {
  flex: 1;
  padding-right: 8px;
  border-right: 2px solid var(--mint-card);
  display: flex;
  align-items: center;
}

#modeText {
  padding-left: 8px;
  display: flex;
  align-items: center;
}

.create-card .mode-section {
  flex: 1;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  border-left: 2px solid var(--mint-card);
}

#changeMode {
  background: none;
  border: none;
  color: var(--mint-card);
  cursor: pointer;
  font-size: 0.create-card .8rem;
  font-weight: bold;
  text-decoration: underline;
}

.create-card .card-body {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  border-inline: 4px solid var(--mint-card);
}

.create-card .player-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 8px;
}

.create-card .player-column:first-child {
  border-bottom: 2px solid var(--mint-card);
}

.create-card .player-column input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 0.8rem;
  padding: 4px 0;
}

.create-card .player-column input:focus {
  outline: none;
  border-color: var(--mint-card);
}

.create-card .card-footer {
  border-top: 4px solid var(--mint-card);
}

.create-card .footer-content {
  margin: 0 16px;
  padding: 8px;
  border-inline: 4px solid var(--mint-card);
}

.create-card .create-btn {
  width: 100%;
  padding: 4px;
  border: none;
  background: var(--mint-card);
  color: var(--russian);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.create-card .create-btn:hover {
  background: var(--russian);
  color: var(--mint-card);
}

@media (min-width:1024px) {
  .create-card .card-body {
    flex-direction: row;
  }

  .create-card .player-column:first-child {
    border-bottom: none;
    border-right: 2px solid var(--mint-card);
  }

  .create-card .player-column:last-child {
    border-left: 2px solid var(--mint-card);
  }
}


.match-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.match-grid * {
  font-size: 0.8rem;
}

.match-grid .match-card {
  display: flex;
  flex-direction: column;

  background: var(--russian);
  color: var(--mint-card);

  border: 12px double var(--mint-card);

  min-height: fit-content;
}

.match-grid .match-card:nth-child(even) {
  transform: translateY(-50%);

}

.match-grid .card-header {
  border-bottom: 4px solid var(--mint-card);
}

.match-grid .card-header h2 {
  margin: 0 16px;
  padding: 8px;

  border-inline: 4px solid var(--mint-card);

  font-size: 1rem;
  font-weight: bold;
}

.match-grid .card-body {
  flex: 1;

  margin: 0 16px;
  padding-bottom: 16px;

  border-inline: 4px solid var(--mint-card);

  display: flex;
  flex-direction: column;
}

.match-grid .match-status {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 8px;
}

.match-grid .game-label {
  margin: 0;

  background: var(--mint-card);
  color: var(--russian);

  padding: 8px;

  font-size: 0.8rem;
  font-weight: bold;
}

.match-grid .status-label {
  margin: 0;

  font-size: 0.8rem;
  font-weight: bold;
}

.match-grid .score-wrapper {
  display: flex;
  flex-direction: column;

  border-top: 4px solid var(--mint-card);
}

.match-grid .team-row {
  display: flex;

  border-bottom: 4px solid var(--mint-card);
}

.match-grid .team-player {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.match-grid .team-player p {
  margin: 0;
  padding-left: 8px;

  font-weight: bold;
}

.match-grid .team-score {
  width: 48px;

  display: grid;
  place-items: center;

  border-left: 4px solid var(--mint-card);

  font-weight: bold;
}

.match-grid .card-footer {
  display: flex;
  gap: 12px;

  padding: 6px 8px;

  border-top: 4px solid var(--mint-card);
}

.match-grid .card-footer button {
  flex: 1;

  padding: 10px;

  border: none;

  background: var(--mint-card);
  color: var(--russian);

  font-size: 0.8rem;
  font-weight: bold;

  cursor: pointer;

  transition: .3s;
}

.match-grid .card-footer button:hover {
  background: var(--russian);
  color: var(--mint-card);
}

@media (max-width:900px) {
  .match-grid {
    grid-template-columns: 1fr;
  }
}

.score-wrapper {
  max-width: 900px;
  width: 200px;
  margin: auto;
}

.score-wrapper .score-list {
  overflow: hidden;

  background: var(--russian);
  color: var(--mint-card);

  border: 12px double var(--mint-card);
}

.score-wrapper .score-header {
  position: sticky;
  top: 0;

  background: var(--russian);

  border-bottom: 4px solid var(--mint-card);

  z-index: 10;
}

.score-wrapper .score-header-content {
  display: flex;

}

.score-wrapper .score-header-content div {
  flex: 1;

  padding: 12px;

  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;

  border-left: 4px solid var(--mint-card);
}

.score-wrapper .score-header-content div:first-child {
  border: none;
}

.score-wrapper .score-row {
  display: flex;

  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.score-wrapper .score-row+.score-row {
  border-top: 4px solid var(--mint-card);
}

.score-wrapper .round-number {
  width: 48px;

  display: grid;
  place-items: center;
}

.score-wrapper .team-score {
  flex: 1;

  min-height: 30px;

  display: grid;
  place-items: center;

  border-left: 4px solid var(--mint-card);
}


.score-wrapper .score-row:not(:first-child) .team-score {
  font-weight: normal;
  font-size: 1rem;
}

.score-wrapper .score-input {
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100%;

  padding: 16px;

  display: flex;
  gap: 16px;

  background: var(--russian);

  border-top: 12px double var(--mint-card);
}

.score-wrapper .score-input button {
  flex: 1;

  padding: 14px;

  border: none;

  background: var(--mint-card);
  color: var(--russian);

  font-size: 1.3rem;
  font-weight: bold;

  cursor: pointer;

  transition: .3s;
}

.score-wrapper .score-input button:hover {
  background: var(--russian);
  color: var(--mint-card);

  box-shadow: 0 0 10px var(--mint-card);
}

.timer {
  width: 400px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.timer .timer-box {
  background: var(--dark-ocean);
  color: var(--neon);
  padding: 12px 36px;
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 6px;
  line-height: 1;
}

.timer .circle-button {
  width: 150px;
  height: 150px;
  border: 20px solid var(--dark-ocean);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer .circle-button .inner {
  width: 100px;
  height: 100px;
  border: 5px solid var(--neon);
  border-radius: 50%;
  background: #07113C;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--neon);
}

.timer .small-timer {
  background: var(--dark-ocean);
  color: var(--neon);
  padding: 8px 26px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 1;
}

.timer .lock-button {
  width: 130px;
  height: 130px;
  border: 16px solid var(--dark-ocean);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer .lock-button .inner {
  width: 80px;
  height: 80px;
  border: 4px solid var(--neon);
  border-radius: 50%;
  background: #07113C;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 900;
  color: var(--neon);
}