@font-face {
  font-family: "Oswald";
  src: url(./font/Oswald-Bold.ttf);
  /* font-display: swap;   */
}

@font-face {
  font-family: "Poppins";
  src: url(./font/Poppins-Regular.ttf);
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url(./font/Poppins-LightItalic.ttf);
  font-display: swap;
  font-weight: 100;
}

:root {
  --height-field: 2000px;
  --width-field: 4000px;
  --scroll-height: 1500px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #153225;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar span {
  color: white;
  font-size: 1.25rem;
}

.navbarWrapper {
  width: 100%;
  height: 60px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  backdrop-filter: blur(3px);
  justify-content: space-between;
  transition: all 0.5s ease;
}

.navbarTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarTop>span {
  font-weight: bold;
  cursor: pointer;
}


.navbarBar {
  height: 19px;
  width: 30px;
  position: relative;
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bar {
  position: absolute;
  height: 3px;
  width: 30px;
  opacity: 1;
  will-change: transform;
  background-color: white;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.bar:nth-child(1) {
  top: 0;
  left: 50%;
}

.bar:nth-child(2) {
  top: calc(50% - 1.5px);
  left: 50%;
}

.bar:nth-child(3) {
  bottom: 0;
  left: 50%;
}

.navbarBar.active .bar:nth-child(1) {
  top: calc(50% - 1.5px);
  transform: translate(-50%, -50%) rotate(45deg);
}

.navbarBar.active .bar:nth-child(2) {
  opacity: 0;
}

.navbarBar.active .bar:nth-child(3) {
  bottom: calc(50% - 1.5px);
  transform: translate(-50%, -50%) rotate(-45deg);
}


.navbarPage {
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  transition: all 0.3s ease;
}

.navbarPage>span {
  height: fit-content;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  background-color: #ffffff00;
  /* border-radius: 8px; */
  color: white;
  cursor: pointer;
  letter-spacing: 0;
  border-right: 1px solid #23594100;
  border-left: 1px solid #23594100;
  will-change: auto;
  margin-inline: 0px;
  transition: all 0.3s ease;
}

.navbarPage>span:hover {
  letter-spacing: 1px;
  /* background-color: #95f2c8; */
  /* color: #235941; */
  border-radius: 40px;
  font-weight: bold;
  border-color: rgba(255, 255, 255, 0.3);
}

.content {
  height: 100%;
  width: 100%;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
}

.fieldWrapper {
  pointer-events: none;
  position: absolute;
  height: var(--height-field);
  width: var(--width-field);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(calc(var(--height-field) * -25 / 100)) rotateX(-2deg) rotateY(20deg) translateX(calc(var(--height-field) * 13 / 10)) translateY(calc(var(--height-field) * -3 / 10));
  transform-style: preserve-3d;
  transition: all 1s ease-out;
}

.fieldWrapper>* {
  transition: all 1s ease-out;
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height-field);
  width: var(--width-field);
  background-color: #235941;
  transform: rotateX(90deg) translateZ(calc(var(--height-field) / -2)) translateY(calc(var(--height-field) * 0 / 10));
  box-shadow: inset 0 0 0 30px white;
}

.field .center {
  width: 100%;
  height: calc(50% - 15px);
  border-bottom: 30px solid white;
}

.field .grid {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.field .grid>* {
  display: flex;
  height: 50%
}

.field .cell {
  width: calc(100% / 4 - 15px);
  border-right: 30px solid white;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height-field);
  width: var(--width-field);
  /* background-color: rgba(0, 0, 255, 0.344); */
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--height-field) * -5 / 10));
}

.page>* {
  pointer-events: all;
}

.floor {
  position: absolute;
  height: calc(var(--height-field) + 5000px);
  width: 20000px;
  background-color: #235941;
  transform: rotateX(90deg) translateZ(calc(var(--height-field) / -2)) translateZ(-1px);

  /* translateX(-10000px) translateY(calc((var(--height-field) + 5000px) / -2) ); */
}

/* .wall {
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(var(--height-field) + 5000px);
  width: 20000px;
  background-color: #153225;
  transform: translateZ(calc(var(--height-field) * -2)) translateX(-40%);
  
  translateX(-10000px) translateY(calc((var(--height-field) + 5000px) / -2) );
} */

.viewer {
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--height-field) / 2 * -1 - 2000px));
  height: var(--height-field);
  display: flex;
  align-items: end;
  /* contain: layout paint size; */
}

.viewer svg {
  content-visibility: auto;
  /* height: 100px; */
  /* width: 100px; */
  position: absolute;
  will-change: transform;
}




.tvFrameWrapper {
  height: calc(100vh + 30px);
  width: calc(100vw + 20px);
  position: absolute;
  left: -10px;
  top: -10px;
  pointer-events: none;
  /* transform: rotateY(70deg) rotateX(70deg) translateZ(200px); */
  transform-style: preserve-3d;
}

.tvFrameWrapper * {
  transform-style: preserve-3d;
}


.tvFrameInline,
.tvFrameBlock,
.tvFrameInline>*,
.tvFrameBlock>* {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.tvFrameWrapper>*>* {
  display: flex;
  justify-content: space-between;
}

.tvFrameWrapper>*>*>* {
  background-color: #333;
}

.tvFrameBlock>* {
  flex-direction: column;
}

.tvFrameInline>*>* {
  width: 10px;
  height: 100%;
}

.tvFrameBlock>*>* {
  width: 100%;
  height: 10px;
}

.tvFrameBlockFront>div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Poppins";
  font-size: 14px;
}

.tvFrameBlockFront>div:last-child,
.tvFrameBlockBack>div:last-child {
  height: 20px;
}

.tvFrameInlineInside>*,
.tvFrameInlineOutside>*,
.tvFrameBlockInside>*,
.tvFrameBlockOutside>* {
  background-color: #999;
}

.tvFrameInlineInside>* {
  transform: rotateY(90deg) translateZ(5px);
}

.tvFrameBlockInside>* {
  transform: rotateX(90deg) translateZ(-5px);
}

.tvFrameInlineInside>*:last-child {
  transform: rotateY(90deg) translateZ(-5px);
}

.tvFrameBlockInside>*:last-child {
  transform: rotateX(90deg) translateZ(15px);
}

.tvFrameInlineOutside>* {
  transform: rotateY(90deg) translateZ(-5px);
}

.tvFrameBlockOutside>* {
  transform: rotateX(90deg) translateZ(5px);
}

.tvFrameInlineOutside>*:last-child {
  transform: rotateY(90deg) translateZ(5px);
}

.tvFrameBlockOutside>*:last-child {
  transform: rotateX(90deg) translateZ(-5px);
}

.tvFrameInlineFront,
.tvFrameBlockFront {
  transform: translateZ(5px);
}

.tvFrameInlineBack,
.tvFrameBlockBack {
  transform: translateZ(-5px);
}



.containerPage {
  height: 100vh;
  width: 100vw;
  position: fixed;
  transform-style: preserve-3d;
  /* background-color: #0000004e; */
}

.contentPage {
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 100px 0px #ffffff24;
  background-color: #235941;
  /* background-color: rgba(255, 0, 0, 0.399); */
}

.hero {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 4px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.heroContent {
  display: flex;
  width: 100%;
  max-width: 1280px;
}

.left-section {
  flex: 1;
  padding: 64px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #235941ae, #23594172, transparent);
  opacity: 1;
  transition: all 1s ease;
}

.content-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}

.content-group h1 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.3;
  margin-block: 8px;
}

.content-group p {
  color: white;
  margin-block: 8px;
  font-size: 18px;
}

.content-group button {
  width: fit-content;
  padding: 8px 16px;
  background: white;
  color: #235941;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.scoreboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0;
}

.scoreboard>* {
  border-inline: 4px solid rgba(255, 255, 255, 0.1);
}

.player-header {
  display: flex;
  border-top: 4px solid rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid rgba(255, 255, 255, 0.1);
}

.player-name {
  flex: 1;
  padding: 8px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.player-name:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.player-name:last-child {
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}

.score-section {
  height: 60%;
  display: flex;
  border-bottom: 4px solid rgba(255, 255, 255, 0.1);
}

.score {
  flex: 1;
  padding: 32px;
  text-align: center;
  font-size: 8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.score:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.score:last-child {
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}

.control-section {
  display: flex;
  border-bottom: 4px solid rgba(255, 255, 255, 0.1);
}

.control-group {
  flex: 1;
  display: flex;
}

.control-group:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.control-group:last-child {
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}

.control-group button {
  flex: 1;
  padding: 8px;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.control-group button:first-child {
  border-right: 4px solid rgba(255, 255, 255, 0.1);
}

.control-group button:last-child {
  border-left: 4px solid rgba(255, 255, 255, 0.1);
}

.control-group span {
  flex: 3;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.containerAbout {
  height: 100vh;
  width: 100vw;
  top: 100vh;
  position: fixed;
  transition: all 1s ease-out;
}

.aboutFile {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

.aboutFile .aboutFileHeader:nth-child(odd) {
  align-self: end;
  border-top-left-radius: 24px;
}

.aboutFile .aboutFileHeader:nth-child(even) {
  align-self: start;
  border-top-right-radius: 24px;
}

.aboutFileHeader {
  background-color: blue;
  height: 60px;
  width: 50vw;
}

.aboutFileContent {
  height: 100vh;
  width: 100vw;
  background-color: blue;
}







.overlayScroll {
  pointer-events: none;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  overflow-y: scroll;
  scrollbar-width: none;
}

.overlayScroll::-webkit-scrollbar {
  width: none;
}

#scroll {
  height: calc(100vh + var(--scroll-height));
}

.fieldWrapper,
.field,
.page {
  will-change: transform;
}

.loadingWrapper {
  position: fixed;
  top: 0;
}

.loadingWrapper>* {
  height: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  position: absolute;
  top: -220px;
  left: -220px;
  will-change: height;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease;
}

.loading-back {
  background-color: #333;
  padding: 200px;
}

.loading-front {
  transition-delay: 0.3s;
  background-color: #999;
  opacity: 0.5;
}


.infoScroll {
  width: 100%;
  position: fixed;
  font-size: 12px;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-block: 10px;
  color: white;
  pointer-events: none;
}

.infoScrollContent {
  font-family: "Poppins";
  font-weight: 100;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 3px 18px;
  opacity: 1;
  transform: skewX(-10deg);
  transition: all 1s ease;
}

.infoSlider {
  position: fixed;
  top: 60px;
  right: 0;
  height: calc(100vh - 60px);
  width: fit-content;
  /* box-sizing: border-box; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.8s ease;
}

.infoSliderWrapper {
  height: calc(80vh - 60px);
  max-height: 500px;
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
}

.infoSliderBar {
  position: absolute;
  width: 0.5px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.infoSliderBarActive {
  position: absolute;
  width: 0.5px;
  height: 0%;
  background-color: rgb(255, 255, 255);
}

.infoSliderArrow {
  position: absolute;
  height: 10px;
  top: 0;
  aspect-ratio: 1 / 1;
}




.introContainer {
  height: var(--diagonal);
  aspect-ratio: 1 / 1;
  background-color: #95f2c8;
  position: fixed;
  border-radius: 100%;
  top: 50vh;
  left: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.introContainer * {
  font-family: "Oswald";
  color: #0b301f;
  text-wrap: nowrap;
}

.introContent {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.introText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introText>div:nth-child(1) {
  letter-spacing: 1px;
  font-size: 10vw;
}

.introText>div:nth-child(2) {
  font-family: "Poppins";
  letter-spacing: 1rem;
  font-size: 2vw;
}

@media (max-width: 850px) {
  .navbar {
    height: fit-content;
  }

  .navbarWrapper {
    margin: 0px;
    height: fit-content;
    border-radius: 0;
    flex-direction: column;
  }

  .navbarWrapper:has(.navbarBar.active) .navbarPage {
    height: 40px;
  }

  .navbarTop {
    height: 60px;
    width: 100%;
  }

  .navbarPage {
    width: 100%;
    position: relative;
    height: 0;
    gap: 0;
  }

  .navbarPage>* {
    height: fit-content !important;
    flex: 1;
    justify-content: center;
    padding: 0 !important;
  }

  .navbarPage>*:hover {
    margin: 0 !important;
    letter-spacing: 0 !important;
  }

  .navbarBar {
    display: flex;
  }

  .heroContent {
    flex-direction: column;
  }

  .scoreboard {
    padding: 0;
  }

  .score-section {}

  .score {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .introText>div:nth-child(1) {
    letter-spacing: 1px;
    font-size: 14vw;
  }

  .introText>div:nth-child(2) {
    letter-spacing: 1vw;
    font-size: 6vw;
  }
}

@media (max-width: 520px) {
  .content-group:nth-child(1) {
    padding-bottom: 0;
  }

  .content-group:nth-child(2) {
    padding-top: 0;
  }
}