#about-history-2 {
  width: 100vw;
  height: 100vh;
  /* opacity: 0; */
  transition: 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#ah2-heading {
  color: var(--cloud);
  font-family: "Oswald";
  font-size: 3rem;
  /* width: 0ch; */
  overflow: hidden;
  white-space: nowrap;
  transition: 1s ease-out;
}
