#about-history-7 {
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  transition: 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#about-history-7 > div {
  width: 90%;
  height: 90%;
  max-width: 1440px;
  max-height: 810px;
  display: flex;
  gap: 2rem;
  align-items: end;
}

#ah7-heading {
  flex: 1;
  color: var(--cloud);
  font-family: "Oswald";
  font-size: 3rem;
  overflow: hidden;
  transition: 1s ease-out;
  text-align: start;
  align-self: flex-start;
  opacity: 0;
}

#ah7-desc {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#ah7-desc > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

#ah7-desc-1 {
  color: var(--cloud);
  font-family: "Inter";
  text-align: start;
  transition: 0.5s ease-out;
  transition-delay: 0.25s;
  opacity: 0;
  flex: 1;
}

#ah7-desc-2 {
  color: var(--cloud);
  font-family: "Inter";
  text-align: start;
  transition: 0.5s ease-out;
  transition-delay: 0.5s;
  opacity: 0;
  flex: 1;
}

#ah7-desc-3 {
  color: var(--mint);
  font-family: "Inter";
  text-align: start;
  transition: 0.5s ease-out;
  transition-delay: 0.75s;
  opacity: 0;
  flex: 1;
}

#ah7-bg {
  background-image: url("../../../assets/images/roll4.jpeg");
  background-size: cover;
  background-position: center;
  filter: grayscale(100);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0;
  transition: 1s ease-in-out;
}
