#about-history-4 {
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  transition: 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#about-history-4 > div {
  width: 90%;
  height: 90%;
  max-width: 1440px;
  max-height: 810px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#ah4-heading {
  color: var(--cloud);
  font-family: "Oswald";
  font-size: 3rem;
  width: 0ch;
  align-self: flex-start;
  overflow: hidden;
  white-space: nowrap;
  transition: 1s ease-out;
}

#ah4-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ah4-desc > div {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#ah4-desc-1 {
  color: var(--cloud);
  font-family: "Inter";
  text-align: start;
  transition: 0.5s ease-out;
  max-width: 720px;
  transition-delay: 0.25s;
  opacity: 0;
}

#ah4-desc-2 {
  color: var(--cloud);
  font-family: "Inter";
  text-align: end;
  transition: 0.5s ease-out;
  transition-delay: 0.5s;
  opacity: 0;
}

#ah4-desc-3 {
  color: var(--mint);
  font-family: "Inter";
  text-align: center;
  transition: 0.5s ease-out;
  transition-delay: 0.75s;
  opacity: 0;
}

#ah4-racket {
  position: fixed;
  bottom: -80vh;
  left: 5vw;
  height: 110vh;
  transform: rotateZ(180deg) rotateY(180deg);
  filter: grayscale(100);
  transition: 0.25s ease-in-out;
  z-index: -10;
}

@media (max-width: 1023px) {
  #about-history-4 > div {
    gap: 0rem;
  }

  #ah4-heading {
    font-size: 1.618rem;
    white-space: break-spaces;
    max-width: 100vw;
    text-align: end;
    height: 5rem;
    align-self: flex-end;
  }

  #ah4-desc {
    flex: 1;
    justify-content: space-between;
    gap: 2rem;
  }

  #ah4-desc > div {
    flex-direction: column;
    gap: 2rem;
  }

  #ah4-desc-3 {
    text-align: end;
    padding-bottom: 5rem;
  }

  #ah4-racket {
    left: -50vw;
  }
}
