#about-history-1 {
  width: 100vw;
  height: 100vh;
  transition: 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#ah1-heading {
  color: var(--cloud);
  font-family: "Oswald";
  font-size: 3rem;
  overflow: hidden;
  white-space: nowrap;
  transition: 1s ease-out;
}

@media (max-width: 1023px) {
  #ah1-heading {
    font-size: 2rem;
  }
}
