@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Oswald";
  src: url(../../font/Oswald-Bold.ttf);
  /* font-display: swap;   */
}

@font-face {
  font-family: "Poppins";
  src: url(../../font/Poppins-Regular.ttf);
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins-Italic-Light";
  src: url(./font/Poppins-LightItalic.ttf);
  font-display: swap;
  font-weight: 100;
}