:root {
  --squhare: #235941;
  --grass: #123324;
  --mint: #00ff8c;
  --cloud: #f0f0f8;
  --sunshine: #ffbf49;

  --mint-card: #ddfef8;
  --russian: #23194f;
  --neon: #b8fb3c;
  --dark-ocean: #03045e;
}